@font-face {
  font-family: 'Nunito';
  src: url('/fonts/static/Nunito-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/static/Nunito-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Nunito', sans-serif;
}

:root {
  box-sizing: border-box;
  background-color: #F2F2F3;
  font-family: 'Nunito';
  --orenge-light: #FFAB08;
  --orenge: #FF7020;
  --black: #000000;
  --light-grey: #F9F9F9;;
  --grey: #F2F2F3;
  --order-btn-default: #FF7020;
  --order-btn-hover: #FFAB08;
  --order-btn-active: #F86310;
  --add-btn-default: #F2F2F3;
  --add-btn-hover: #FFAB08;
  --add-btn-active: #F86310;
  --disabled-button-text: #ACACAC;
  --disabled-input-text: #B1B1B1;
  --nav-color: #FFFFFF;
  --nav-border-hover: #F86310;
  --nav-active: #FFAB08;
}
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
/* ------------------------------------------------ */
.button{
  border-radius: 0.75em;
  border: none;
  background-color: var( --add-btn-default);
  line-height: 1em;
  padding: 0.75em 5.344em;
  transition: all 300ms linear;   
}
.button:hover {
  background-color: var(--add-btn-hover);
  transition: background-color 300ms linear;
}
.button:active {
  background-color: var(--add-btn-active);
  transition: background-color 300ms linear;
}
@media(max-width: 768px) {
  .button{
    border-radius: 0.75em;
    line-height: 1em;
    padding: 0.563em 3.4em;
    font-size: 0.75rem;
  }
}
/* ---------------------------------------------- */
.buttonCart {
  border-radius: 0.75em;
  border: none;
  background-color: var(--orenge);
  line-height: 1em;
  padding: 0.75em 4.438em;
  transition: all 300ms linear; 
  color: #fff;
}
.buttonCart:hover {
  background-color: var(--orenge-light);
  transition: background-color 300ms linear;
}
.buttonCart:active {
  background-color: var(--grey);
  color: #0000008c;
  transition: background-color 300ms linear,
              color 300ms linear;
}
/* ------------------------------------------------- */
.order-button{
  border-radius: 0.75em;
  border: none;
  background-color: var( --order-btn-default);
  line-height: 1em;
  padding: 0.75em 4.469em;
  transition: all 300ms linear;
  color: #ffffff;
  width: 18.375em;
}
.order-button:hover {
  background-color: var(--order-btn-hover);
  transition: background-color 300ms linear;
}
.order-button:active {
  background-color: var(--order-btn-active);
  transition: all 300ms linear;
}
@media(max-width: 546px) {
  .order-button {
    width: 100%;
    align-self: flex-end;
  }
}
.container {
  max-width: 1200px;
}